body{
    background-color:lightcyan;
h1{
    background-color:rgba(5, 144, 84, 0.562);

}
h2{
    background-color: rgba(68, 166, 124, 0.485);
    color:rgb(255, 255, 255);
}
img{
    border-radius: 55px;
}