body{
    background-color:lightcyan;
h1{
    background-color:rgba(5, 144, 84, 0.562);

}
h2{
    background-color: rgba(156, 212, 188, 0.485);
    color:rgb(255, 255, 255);
}
h3{
    background-color:rgba(68, 166, 124, 0.458);
    color:rgb(255, 255, 255);
}
p{
    background-color:rgba(95, 158, 160, 0.349) ;
}
img{
    border-radius: 55px;
}
li.odd{
    background-color: bisque;
}

td.orange{
    background-color:bisque;
}

td.blue{
    background-color:azure;
}

.container{
    display: flex;
    gap: 10px;
    gap: 10px 20px; /*row-gap column gap*/
    row-gap: 10px;
    column-gap: 20px;
    
}

footer{
    font-size: x-small;
    background-color: black;
    color: aliceblue;
}

nav{
/* Make About and Project links into buttons */
}